$def with (form, msg, error)
<html>
	<head>
		<link href="static/calpoly.css" type='text/css' rel='stylesheet' />
		<title>Cal Poly Authentication (not really)</title>
	</head>
	<body>
		<div id='topRow'></div>
		<div id='fakeContainer'> </div>
		<div id='centerContainer'>
			<img src='static/CP_Logo_Transparent.png' style='height: 70px;'><p>
			<center>
			<form name ="main" method="post">
				$if msg != "":
					<p><font color="black"> <!--open_token-->$msg<!--close_token--> </font></p>
				$if error != "":
					<p><font color="red"> $error </font></p>
				$:form.render()
			</form>
			</center>
			<a href="/">Return</a>
		</div>
		<div id='bottomRow'>
			<center>
			<b>Disclaimer</b>: This is not the real Cal Poly Authentication portal. It's probably not safe to enter your real Cal Poly username and password.
			</center>
		</div>
	</body>
</html>
