$def with (form,user,err)
<html>
	<head>
		<link href="static/calpoly.css" type='text/css' rel='stylesheet' />
	</head>
	<body>
		<div id='topRow'>
			$if user != "":
				Welcome, $user! [<a href="/logout">logout</a>]
		</div>
		<div id='fakeContainer'> </div>
		<div id='centerContainer'>
			<img src='static/CP_Logo_Transparent.png' style='height: 70px;'><p>
			<div>
			<form name ="main" method="post">
				$if err != "":
					<p align=center><font color="red">$err</font></p>
				$:form.render()
			</form>
			<a href="/register">Register</a>
			<a href="/home">My Home</a>
			</div>
		</div>
		<div id='bottomRow'>
			<center>
			<b>Disclaimer</b>: This is not the real Cal Poly Authentication portal. It's probably not safe to enter your real Cal Poly username and password.
			</center>
		</div>
	</body>
</html>
